.about {
  min-height: 850px;
  background: #cfeae8;
}

.image-container {
  height: 200px;
  background: white;
  width: 100%;
  justify-content: center;
  display: flex;
}

.about-icon {
  height: 300px;
  width: 300px;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.skills-content {
  max-width: 800px;
  padding: 40px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.icons-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}
.icons img {
  transition: all 0.3s ease 0s;
}

.icons img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  filter: brightness(0.6);
}
/* .icons-container-ui {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
} */
.icon {
  height: 100px;
  padding: 10px;
}

.nav-item > .active {
  background-size: 4px 50px;
}
