label {
  display: flex;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 13px;
  margin-bottom: 0;
}

.contact {
  background: #cfeae8;
  height: 500px;
}

.contact-content {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 40px; */
  padding-top: 200px;
  max-width: 800px;
  padding: 40px;
}
.icons-container a:hover {
  filter: brightness(0.7);
  /* fill: #000000; */
}

.icon-small img {
  height: 45px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 6px;
}

.icon-small label {
  display: inline-flex;
  flex-wrap: wrap;
}
