.contact {
  background: #cfeae8;
  height: 500px;
}

.contact-content {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 40px; */
  padding-top: 200px;
  max-width: 800px;
  padding: 40px;
}
.icons-container a:hover {
  filter: brightness(0.7);
}
