.contact {
  background: #e6f4f3;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding-left: 6rem;
  font-family: "Lato", sans-serif;
}

.contact-content {
  /* padding-top: 2rem; */
  display: inline-flex;
  /* padding-left: 2rem; */
  width: 100%;
}
.contact-info {
  width: 50%;
}
label {
  display: flex;
  margin-bottom: 0.5rem;
}
.icons-follow-me {
  padding-top: 4rem;
  margin: 0 auto;
  width: 50%;
}

.icons-follow-me label {
  /* padding-left: 25%; */

  text-align: center;
  padding-bottom: 1rem;
  font-family: "Lato";
  font-size: 20px;
  margin: auto;
  color: #4b6064;
  font-weight: 600;
}
.contact h1 {
  /* margin-top: 2rem; */
  padding-top: 3rem;
  /* padding-left: 3rem; */
  color: #f0473e;
  font-family: "Lato";
  font-weight: 800;
  font-size: 60px;
}

.contact-content p {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 20px;
}

.icons-follow-me a:hover {
  filter: brightness(0.7);
  /* fill: #000000; */
}

.icon-small img {
  height: 45px;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 6px;
}

.icon-small label {
  display: inline-flex;
  flex-wrap: wrap;
}

@media (min-width: 320px) and (max-width: 768px) {
  .contact {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding-left: 2rem;
  }
  .contact-content {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .contact-content p {
    font-size: 16px;
  }

  .contact-info {
    width: 100%;
  }
  label {
    display: flex;
    margin-bottom: 0.5rem;
  }
  .icons-follow-me {
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    width: 100%;
  }

  .icons-follow-me label {
    font-size: 18px;
    font-weight: 800;
  }
}
