.footer {
  background: #aad0d2;
  height: 100px;
  margin: 0 auto;
  padding: 30px;
  width: 100%;
  justify-content: center;
  display: flex;
}

@media (min-width: 360px) and (max-width: 768px) {
  .footer {
    height: 70px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    display: flex;
  }
}
