.footer {
  background: #aad0d2;
  height: 100px;
  margin: 0 auto;
  padding: 30px;
  width: 100%;

  display: flex;
  text-align: center;
}

@media (min-width: 360px) and (max-width: 768px) {
  .footer {
    height: 100px;
    margin: 0 auto;
    padding: 20px;

    display: flex;
    text-align: center;
  }
}
