p {
  color: #333333;
}

.home {
  min-height: 100vh;
  width: 100vw;
  /* background: #aad0d2; */
  background: #333333;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  font-family: "Lato", sans-serif;
}

.home .text-zone {
  /* margin-top: 2%; */
  /* margin-left: 3%; */
  width: 50%;
}

.button-content {
  /* justify-content: center;
  display: flex; */
  /* flex-wrap: wrap;
  margin-top: 10%;
  margin-right: 5rem; */
  /* float: right; */
  /* padding-bottom: 7rem; */
}

.home-icon {
  cursor: pointer;
  height: 300px;
  transition: all 0.3s ease 0s;
}
.btn {
  position: relative;
  display: flex;
}

.btn-icon-home {
  /* position: relative;
  min-height: 250px; */
  height: auto;
  width: 30vw;
}

.demo {
  position: absolute;
  bottom: 10%;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
  cursor: pointer;
}
.demo a:hover {
  opacity: 0.5;
}
#section05 a {
  padding-top: 3rem;
}
#section05 a span {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 320px) and (max-width: 360px) {
  .home {
    min-height: 100vh;
    min-width: 100vw;
    /* background: linear-gradient(to bottom, white 0%, #aad0d2 100%); */
    background: #333333;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }

  .btn-icon-home {
    width: 90vw;
    right: 0;
    bottom: 1rem;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .home .text-zone {
    width: 100%;
    height: 40%;
  }
  .button-content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 0;
    float: right;
    padding-bottom: 1rem;
  }
  .demo {
    position: absolute;
    top: 95%;
    left: 50%;
    z-index: 2;
    display: inline-block;
  }
}

@media (min-width: 375px) and (max-width: 414px) {
  .btn-icon-home {
    width: 90vw;
    right: 0;
    bottom: 1rem;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .home {
    min-height: 100vh;
    min-width: 100vw;
    background: #333333;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }

  .btn-icon-home img {
    width: 90%;
  }

  .home .text-zone {
    width: 100%;
    height: 40%;
  }
  .button-content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 0;
    float: right;
    padding-bottom: 1rem;
  }
  .demo {
    position: absolute;
    top: 95%;
    left: 50%;
    z-index: 2;
    display: inline-block;
  }
}

@media (min-width: 411px) and (max-width: 750px) {
  .home {
    min-height: 100vh;
    min-width: 100vw;
    background: #333333;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }

  .btn-icon-home {
    width: 90vw;
    right: 0;
    bottom: 1rem;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .btn-icon-home img {
    width: 90%;
  }

  .home .text-zone {
    width: 100%;
    height: 40%;
  }
  .button-content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 0;
    float: right;
    padding-bottom: 1rem;
  }
  .demo {
    position: absolute;
    top: 95%;
    left: 50%;
    z-index: 2;
    display: inline-block;
  }
}

@media (min-width: 768px) and (max-width: 768px) {
  .home {
    min-height: 100vh;
    min-width: 100vw;
    background: #333333;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }

  .btn-icon-home {
    width: 90vw;
    right: 0;
    bottom: 1rem;
    margin-left: 0;
    margin-top: 3rem;
    margin-bottom: 0;
  }

  .btn-icon-home img {
    width: 90%;
  }

  .home .text-zone {
    width: 100%;
    height: 40%;
  }
  .button-content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 0;
    float: right;
    padding-bottom: 1rem;
  }
  .demo {
    position: absolute;
    top: 95%;
    left: 50%;
    z-index: 2;
    display: inline-block;
  }
}
/* 
@media screen and (max-width: 2000px) and (min-width: 1024px) {

} */
