.home {
  height: 600px;
  background: url(../../img/background-home-05.svg);
  background-size: cover !important;
  -webkit-background-size: cover !important;
  display: flex;
  flex-wrap: wrap;
}

.home-content {
  margin-top: 100px;
  margin: 0 auto;
  padding: 10px;
}

.button-content {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* .hi {
  margin-top: 20px;
  min-height: 250px;
  height: 400px;
} */

.hello-content {
  padding-top: 7.5rem;
  padding-bottom: 3rem;
  margin-left: 3rem;
  max-width: 350px;
}
.home-icon {
  cursor: pointer;
  height: 300px;
  transition: all 0.3s ease 0s;
}

/* 3D BUTTON */

/* .hi:hover {
  cursor: pointer;
  filter: brightness(0.8);
} */

@media (min-width: 360px) and (max-width: 768px) {
  .hi {
    margin-top: 30px;
    min-height: 250px;
    height: 400px;
  }
}
