p {
  color: #333333;
}

.home {
  min-height: 800px;

  background: url(../../img/background-home-09.svg);
  background-size: cover !important;
  -webkit-background-size: cover !important;
  display: flex;
  flex-wrap: wrap;
}

.home .text-zone {
  margin-top: 2%;
}

.home-content {
  margin: 0 auto;
  /* padding-right: 5rem; */
}

/* .hello-content {
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-top: 5rem;
  max-width: 570px;
} */

.button-content {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15%;
  margin-right: 5rem;
  float: right;
  margin-bottom: 5rem;
}

.home-icon {
  cursor: pointer;
  height: 300px;
  transition: all 0.3s ease 0s;
}
.btn {
  position: relative;
  display: flex;
}

.btn-icon-home {
  position: relative;
  height: 500px;
  width: 500px;
  right: 45px;
  bottom: 83px;
  cursor: pointer;
}
/* 3D BUTTON */

/* .hi:hover {
  cursor: pointer;
  filter: brightness(0.8);
} */

@media (min-width: 360px) and (max-width: 768px) {
  .hi {
    margin-top: 30px;
    min-height: 250px;
    height: 400px;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1024px) {
  /* .btn-icon-home {
    position: relative;
    height: 562px;
    width: 562px;
    right: 45px;
    bottom: 83px;
    cursor: pointer;
  } */
}
/* .demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 0.5;
}
#section05 a {
  padding-top: 120px;
}
#section05 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
} */

.Typist .Cursor {
  display: inline-block;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
