.projects {
  min-height: 100vh;
  /* width: 100vw; */
  background: linear-gradient(to bottom, #333333 0%, #9e9d9d 100%);
  /* background: #666565; */
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  font-family: "Lato", sans-serif;
}
.projects-content .grid {
  display: flex;
  flex-wrap: wrap;
  padding-right: 2rem;
  margin: 0;
  list-style: none;
  height: 100%;
  justify-content: center;
}

.projects-content {
  padding-top: 3rem;
  margin: auto;
  padding-bottom: 5rem;
}

.projects-content .hello-content {
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
  width: 570px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .projects-content {
    margin: 0 auto;
  }

  .projects-content .grid {
    /* display: flex; */
    flex-wrap: wrap;
    padding-right: 0rem;
    padding-left: 1rem;
    margin: 0;
    list-style: none;
    height: 100%;
    justify-content: center;
  }

  .projects-content .hello-content {
    /* display: flex; */
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
    padding-top: 2rem;
    width: 320px;
    justify-content: center;
  }
  .projects-content h2 {
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 50px;
  }
  .icon-project {
    width: 90%;
    padding: 0;
  }
  .project-content {
    background-color: #aad0d2;
    height: 500px;
    width: 400px;
    margin: 5px;
    transition: all 0.3s ease 0s;
  }
}
