.projects {
  background: linear-gradient(to bottom, #333333 0%, #9e9d9d 100%);
  /* background: #666565; */
  color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}
.projects-content .grid {
  display: flex;
  flex-wrap: wrap;
  padding-right: 2rem;
  margin: 0 auto;
  list-style: none;
  height: 100%;
  justify-content: center;
}

.projects-content {
  padding-top: 3rem;
  margin: auto;
  padding-bottom: 10rem;
}

.projects-content .hello-content {
  margin: 0 auto;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
  max-width: 570px;
}

/* .projects-content .project-blocks-content {
  display: flex;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
} */

@media (min-width: 360px) and (max-width: 768px) {
  .projects-content {
    margin: 0 auto;
  }

  .projects-content .grid {
    /* display: flex; */
    flex-wrap: wrap;
    /* padding-right: 1rem; */
    padding-left: 3rem;
    margin: 0 auto;
    list-style: none;
    height: 100%;
    justify-content: center;
  }

  .projects-content .hello-content {
    /* display: flex; */
    flex-wrap: wrap;
    padding-left: 7rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-top: 3rem;
    max-width: 450px;
    justify-content: center;
  }
  .projects-content h2 {
    padding-bottom: 10px;
    font-weight: 800;
    font-size: 50px;
  }
  .icon-project {
    height: 300px;
    padding: 10px;
  }
  .project-content {
    background-color: #aad0d2;
    height: 500px;
    width: 400px;
    margin: 5px;
    transition: all 0.3s ease 0s;
  }
}
