.projects {
  background: #333;
  /* height: 800px; */
  color: white;
}

.projects-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.icons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.icon-project {
  height: 350px;
  padding: 10px;
}
