html,
body {
  min-height: 100vh;
  margin: auto;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#App {
  /* font-family: "brandon-grotesque", "HelveticaNeue-Light",
    "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif; */

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: left;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}
