html,
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: auto;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#page-wrap {
  text-align: left;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}
